

h1 {
    font-size: 40px;
}

body {
    background-color: rgba(219, 85, 7, 0.664);
    color: rgb(175, 14, 14);
    font-family: "Times New Roman", serif;
    text-align: center;
    border: 8px solid rgba(116, 43, 43, 0.63);
    padding: 10px;
}

ul {
    background-color: rgba(155, 56, 56, 0.671);
    list-style: none;
    padding: 10px;
    margin: 10px 5%;

    border-radius: 8px; 
}

.container {
    margin: 0 10%;
    border: 10px double burlywood;
    height: 70%;
    padding: 10px;
    border-radius: 5px;
}

a:visited {
    color: rgba(0, 0, 0, 0.548);
}

a:hover {
    color: white;
}

a {
    color: rgba(0, 0, 0, 0.555);
}

li {
    margin: 10% 0;
    font-weight: bold;
    font-style: italic;
    border: 3px double rgba(116, 43, 43, 0.63);
    font-size: 20px;
}

hr {
    background-color: rgba(116, 43, 43, 0.63);
    border-color: rgba(116, 43, 43, 0.63);
    border-style: dotted;
    height: 2px;
}